@font-face {
    font-family: 'countrysideregular';
    src: url('./fonts/countrysidepersonaluse-webfont.woff2') format('woff2'),
         url('./fonts/countrysidepersonaluse-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  text-align: center;
  color: #fafad2;
  background: url("../images/goldengatesunset.jpg") no-repeat fixed;
  background-size: 100% 100%;
}

#top {
  font-family: 'countrysideregular', cursive;
  font-size: 72px;
}

img {
  border: 6px solid white;
}

.aboutme {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #b8860b;
  background-color: #fff;
  opacity: 0.75;
  width: 600px;
  margin:  30px 0px;
  padding: 30px 30px;
}

.aboutme h3 {
  font-family: 'countrysideregular', cursive;
  font-size: 50px;
}

.instagramfeed {
  display: inline-block;
  position: relative;
  width: 600px;
  margin: auto;
  padding: 30px 30px;
}

.instagramfeed h3 {
  font-family: 'countrysideregular', cursive;
  color: #fafad2;
  font-size: 50px;
  text-align: center;
}

.maps {
  display: inline-block;
  position: relative;
  width: 1000px;
  margin: auto;
  padding: 30px 30px;
}

.maps h3 {
  font-family: 'countrysideregular', cursive;
  color: #fafad2;
  font-size: 50px;
  text-align: center;
}

.comment-section {
  margin: 30px 0px;
  padding: 0px auto;
}

a.link {
  color: #fafad2;
  text-align: center;
  text-decoration: none;
}

a.link:visited {
  text-decoration: none; color: #fafad2; font-weight: normal;
}

a.link:hover {
  text-decoration: underline; color: #fafad2; font-weight: normal;
}

a.link:active {
  text-decoration: none; color: #fafad2; font-weight: normal;
}